$dark-brown: #362819;
$darker-brown: #261809;
$light-brown: #DFAE74;
$lighter-brown: #EECFA1;
$lightest-brown: #FFFFF0;

$body-bg: $dark-brown;
$noise-bg: image-url('noise.png') top left !default;

// Main Link Colors
$link-color: lighten($darker-brown, 3) !default;

// Main Section Colors
$text-color: #222 !default;
$text-color-light: $dark-brown !default;
$type-border: $darker-brown !default;

/* General rules */
body {
  background: $noise-bg $body-bg;
}

h1 {
  font-size: 22px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}

a, a:visited {
  color: $link-color;
  text-decoration: none;
  outline: 0;
}

li {
  line-height: 18px;
  margin-bottom: 12px;
}

ul {
  display: block;
  list-style-type: none;
}

// Logo
aside#logo {
  background-color: $light-brown;
}

aside#logo div {
  background-color: $lightest-brown;
}

aside#logo div a {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: $light-brown url(/images/star_large.png) center center no-repeat;
  background-size: 100% 100%;
}

/* Menu */
ul#menu a {
  color: $lightest-brown;
}

#octopress_linkback {
  background: $noise-bg $lightest-brown;
}
/* Article rules */
article a:link, article a:visited, article a:hover, article a:active {
  text-decoration: none;
  border-bottom: 1px solid $darker-brown;
  border-bottom: 1px solid $darker-brown;
  color: $dark-brown;
}

article h2 {
  color: $darker-brown;
  text-decoration: none;
  font-family: "Rokkitt", serif;
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

article h2 a:link, article h2 a:hover, article h2 a:visited, article h2 a:active {
  color: $darker-brown;
  text-decoration: none;
  border-bottom: 1px solid $darker-brown;
  font-family: "Rokkitt", serif;
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}
